1)https://preview.themeforest.net/item/nafta-oil-gas-industry-html-template/full_screen_preview/24245360

2)https://preview.themeforest.net/item/oildrop-oil-and-gas-industrial-wordpress-theme/full_screen_preview/19442088
3)https://enginir-demo.pbminfotech.com/elementor-demo-06/

4)https://themes.webdevia.com/petroleum-gas/

5)https://preview.themeforest.net/item/nafta-oil-gas-industry-joomla-template-with-page-builder/full_screen_preview/24700656

6)https://preview.themeforest.net/item/petrol-oil-gas-industry-elementor-template-kit/full_screen_preview/43037968

7)https://preview.themeforest.net/item/oilrigpro-oil-gas-company-wordpress-theme/full_screen_preview/62157305

8)https://demo.templatemonster.com/demo/45692.html?_gl=1*zibx7p*_ga*MTczNTUxOTc5OC4xNzc2OTM3MjQy*_ga_FTPYEGT5LY*czE3NzY5MzcyNDEkbzEkZzEkdDE3NzY5MzcyOTYkajUkbDAkaDA.

9)https://themeforest.net/item/oildrop-oil-and-gas-industrial-wordpress-theme/19442088
